body {
  background: linear-gradient(45deg, rgb(220, 121, 250), #f8df9e); /* Example gradient */
  min-height: 100vh; /* Ensure it covers the full height */
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-conatiner{
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}